<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Резюме</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        body{background: darkgray; padding: 10px 0;}
        .container { max-width: 50%; background: white; padding: 10px;}
    </style>
</head>
<body>
<div class="container">
    <h4 class="text-center"><strong>Резюме</strong><p>на должность Java-стажер</p></h4>
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <dl class="dl-horizontal">
                <dt>ФИО:</dt><dd id="FIO" />
                <dt>Дата рождения:</dt><dd id="DOB" />
                <dt>Телефон:</dt><dd id="phone" />
                <dt>e-mail:</dt><dd id="email" />
                <dt>Skype:</dt><dd id="skype" />
            </dl></div>
        <div class="col-xs-4 col-md-4">
            <img id="avatar" width="100%">
        </div>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Цель:</strong></h4>
        <p class="card-text" id="target"/>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Опыт работы:</strong></h4>
        <p class="card-text" id="experiences"/>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Образование:</strong></h4>
        <ol class="card-text" id="educations" />
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Доп. образ. и курсы:</strong></h4>
        <p class="card-text"id="additionalEducations"/>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Навыки:</strong></h4>
        <ol class="card-text" id="skills"/>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Примеры моего кода:</strong></h4>
        <div class="card-text">
            <p id="examplesCode">
        </div>
    </div>
</div>
<script src="../js/getSummary.js" th:href="@{/js/getSummary.js}"></script>
</body>
</html>