<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список резюме</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="../css/summary.css" rel="stylesheet" th:href="@{/css/summary.css}"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="../js/jQWCloudv3.1.js" th:href="@{/js/jQWCloudv3.1.js}"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
<div class="container">

    <table id="dataTable" class="display">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Фио</th>
            <th scope="col">Цель</th>
        </tr>
        </thead>
        <tbody id="dataTableBody">
        </tbody>
    </table>
    <div class="btn-group" role="group">
        <button id="buttonDel" class="btn btn-primary">Удалить</button>
        <button id="buttonOpen" class="btn btn-primary">Открыть</button>
        <button id="buttonEdit" class="btn btn-primary">Редактировать</button>
        <button onclick="location.href = '/summary/new';" id="buttonAdd" class="btn btn-primary">Добавить</button>
    </div>
    <div id="wordCloud"></div>
</div>
<script src="../js/getSummaryList.js" th:href="@{/js/getSummaryList.js}"></script>
</body>
</html>